@import 'base';
// Import the mixins
@import "sass-css3-mixins/css3-mixins.scss";

@import 'compass/css3/transition';

@import "../awesome-bootstrap-checkbox/bower_components/Font-Awesome/scss/font-awesome";
@import "../awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";

$inline-header-padding: 		15px;
$hr-rule-top-colour: 			  #414141;
$hr-rule-bottom-colour:			#242424;
$jumbotron-side-padding: 		40px;
$site-bg:	 			        		#EAE5E3;
$letter-spacing:				    1px;
$lock-in-text-height: 			40px;
$letter-spacing:            0;      

body {
	letter-spacing:				$letter-spacing;
	background: 				#EAE5E3;
	background-color: 			$site-bg;
}

div.fancybox-skin {
	background:					transparent;
}

.jumbotron {
	padding-left: 				$jumbotron-side-padding;
	padding-right: 				$jumbotron-side-padding;
	padding-bottom: 			0;
	margin-bottom: 				0;
	padding-top:				28px;
}

p {
	margin-bottom:				4px;
}

.container {
  color:                #444444;
	padding-left: 				$jumbotron-side-padding;
	padding-right: 				$jumbotron-side-padding;
	background-color: 			$site-bg;
	padding-bottom: 			20px;
	margin-bottom: 				0;
}

h2 {
  text-transform:       uppercase;
}

.navbar-header {
	float: 						none;
  width:            100%;
  height:           89px;
  background:       #333333;
}

.navbar-brand {
	background: 				transparent url('../images/gazelli-house-logo.png') center center no-repeat;
	text-indent:				-9999px;
	width: 						  auto;
  margin:             auto;
  float:              none;
  display:            block;
	height: 					  100%;
}

.navbar-collapse {
  width:              100%;
  background:         #828382;
  background:         rgba(0, 0, 0, 0.6);
  position:           absolute;
  top:                89px;
  z-index:            10;
}

.navbar-nav {
  float:              none;
  margin:             auto;
  width:              340px;
}

.navbar-toggle {
  margin:             0;
  top:                50%;
  margin-top:         -6%;
  margin-right:       20px;
  .icon-bar {
    background:         $site-bg;
  }
}



.navbar-nav>li>a {
  padding:            4px 8px;
  color:              #EAE5E3;
  &:hover {
    background:       #828382;
    background:       rgba(0, 0, 0, 0.9);
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      left: 0 !important;
      opacity: 0;
      transition: 0.7s ease-in-out opacity;
    }
    
    h3 {
      color: #444444;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
    
    p {
      letter-spacing: 0;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      opacity: 0;
      z-index: 1;
    }
    
    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
  .carousel-indicators {
    display: none;
  }
}

hr {
  border-color: $brand-primary;
  width: 100px;
}

#sign-up {
  letter-spacing: 3px;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  background: white;
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 4px 30px;
}
.social-icons {
  margin-top: 20px;

  .social-icon {
    width: 20px;
    height: 20px;
    background: black;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    &.twitter {
      background: transparent url('/images/icons/twitter.png') left top no-repeat;
    }
    &.facebook {
      background: transparent url('/images/icons/facebook.png') left top no-repeat;
    }
    &.icon-3 {
      background: transparent url('/images/icons/icon-3.png') left top no-repeat;
    }
    &.bird {
      background: transparent url('/images/icons/icon-bird.png') left top no-repeat;
    }
  }
}

#carousel-example-generic {
  overflow: hidden;
  .item {
    left: -0.5%;
    top: -0.5%;
    width: 101%;
    transition: opacity 0.7s, width 0.7s, left 0.7s, top 0.7s;
    transition-property: opacity, width, top, left;
  }
  .carousel-inner .active {
    opacity: 1;
    width: 100%;
    top: 0;
    left: 0;
  }

  .next.left, .prev.right {
    opacity: 1;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .active.left, .active.right {
    left: -0.5%;
    width: 101%;
    top: -0.5%;
    opacity: 0;
    z-index: 2;
  }

  .carousel-control {
    opacity: 0;
  }
  
  .carousel-caption {
    padding-top: 0px;
    padding-bottom: 0px;
    left: 50%;
    margin-left: -50%;
    margin-top: 50%;
    top: -50%;
    width: 100%;
    color: $brand-primary;
    text-shadow:  none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 20px;

    &.light {
      color: white;
    }
  }
}

html, 
body, 
.carousel, 
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-inner>.item>img {
  width: 100%;
  top: -50px;
  position: relative;
  max-width: auto;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@keyframes zoomIn {
  0% {
      opacity: 0;
      left: -0.5%;
      top: -0.5%;
      width: 101%;
      transition: opacity 7s, width 7s, left 7s, top 7s;
      transition-property: opacity, width, top, left;
  }

  100% {
      opacity: 1;
      width: 100%;
      top: 0;
      left: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@keyframes slideDown {
  0% {
      bottom: 10%;
      transition: bottom 2s;
      transition-property: bottom;
  }

  100% {
      bottom: 20px;
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-phone) {
  #sign-up {
    padding: 4px 50px;
  }

  .navbar-nav {
    text-transform: uppercase;
    width:              585px;
    & > li~li:before {
      content: '|';
      color: #eee;
      position: absolute;
      left: -1px;
      top: 4px;
    }
  }

  #carousel-example-generic {
    .carousel-caption {
      font-size:  48px;
      letter-spacing: 40px;
    }
  }
}

form {
  margin-top: 20px;
  .dob {
    .col-xs-2 {
      width: 22.199999999999%;
    }
  }
  .separator:after {
    content: "/";
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 30px;
    color: #dddddd;
  }

  fieldset {
    background: #F5F2F1;
    
    label {
      color: #666666;
    }

    textarea.form-control {
      height: 150px;
    }

    input::-webkit-input-placeholder {
      color: rgba(0,5,143,.5);
      text-transform: uppercase;
    }

    input::-moz-placeholder {
      color: rgba(0,5,143,.5);
      text-transform: uppercase;
    }

    input:-moz-placeholder {   /* Older versions of Firefox */
      color: rgba(0,5,143,.5);
      text-transform: uppercase;
    }

    input:-ms-input-placeholder { 
      color: rgba(0,5,143,.5);
      text-transform: uppercase;
    }
  
    legend {
      text-transform: uppercase;
      font-size: 14px;
      padding: 4px 0;
      background: #82807F;
      color: #F5F2F1;
      width: 100%;
    }

    .form-control {
      border: none;
      border-radius: 0;
    }

    .bs-select-hidden {
      display: none;
    }

    .bootstrap-select {
      .dropdown-menu {
        li {
          &:hover,
          &.selected {
            background: $site-bg;
             a {
              color: $brand-primary;
             }
          }

          >a {
            color: $site-bg;
            &:hover {
              color: $brand-primary;
            }
          }
        }
        background: $brand-primary;
        border-radius: 0;

      }
      button {
      }
    }
  }
  
  .checkbox {
    label {
      text-align:     left;
      padding-left:   4px;
      font-size:      12px;
      width:          170%;
      max-width:      170%;
    }
  }

  .checkbox-primary input[type="checkbox"]:checked+label::before,
  .checkbox label::before {
    outline: none;
  }
}
