@import 'base';
// Import the mixins
@import "sass-css3-mixins/css3-mixins.scss";

@import 'compass/css3/transition';

@import "../awesome-bootstrap-checkbox/bower_components/Font-Awesome/scss/font-awesome";
@import "../awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";

$inline-header-padding: 		15px;
$hr-rule-top-colour: 			  #414141;
$hr-rule-bottom-colour:			#242424;
$jumbotron-side-padding: 		40px;
$site-bg:	 			        		#EAE5E3;
$letter-spacing:				    1px;
$lock-in-text-height: 			40px;
$letter-spacing:            0;

body {
	letter-spacing:				$letter-spacing;
	background: 					#EAE5E3;
	background-color: 		$site-bg;
	a {
		color: #444444;
	}
}

.footer {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}

div.fancybox-skin {
	background:					transparent;
}

.jumbotron {
	padding-left: 				$jumbotron-side-padding;
	padding-right: 				$jumbotron-side-padding;
	padding-bottom: 			0;
	margin-bottom: 				0;
	padding-top:				28px;
}

p {
	margin-bottom:				14px;
	line-height: 20px;
}

.container {
  color:                #444444;
	padding-left: 				$jumbotron-side-padding;
	padding-right: 				$jumbotron-side-padding;
	background-color: 			$site-bg;
	padding-bottom: 			20px;
	margin-bottom: 				0;
	padding-top: 111px;
  margin-top: -110px;
  min-height: 100%;
}

h2,
h3,
h4 {
	color: #444444;
	font-size: 20px;
	letter-spacing: 6px;
}
h4 {
	font-size: 16px;
	margin-bottom: 16px;
	font-weight: 800;
}

h2 {
  font-size: 26px;
	margin-top: 30px;
  text-transform: uppercase;
}

.item {
	h2 {
		margin-top: 20px;
	}
}

.navbar-header {
  position:         relative;
  float: 						none;
  width:            100%;
  height:           89px;
  background:       #333333;
}

.navbar-brand {
	background: 				transparent url('../images/gazelli-house-logo.png') center center no-repeat;
	text-indent:				-9999px;
	width: 						  auto;
  margin:             auto;
  float:              none;
  display:            block;
	height: 					  100%;
  background-size:    200px;
  margin:             -5px auto 0;
}

.navbar-collapse {
  width:              100%;
  background:         #828382;
  background:         rgba(0, 0, 0, 0.6);
  position:           absolute;
  top:                89px;
  z-index:            10;
  padding-left:       0;
  padding-right:      0;
}

.navbar-nav {
  float:              none;
  margin:             auto;
  width:              100%;
}

.navbar-toggle {
  margin:             0;
  top:                50%;
  position:           absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right:       20px;
  .icon-bar {
    background:         $site-bg;
  }
}



.navbar-nav>li>a {
  padding:            4px 8px;
  color:              #EAE5E3;
  &:hover,
  &:focus {
    background:       #828382;
    background:       rgba(0, 0, 0, 0.9);
  }
}

#carousel-text {
  height: 165px;
  h2 {
    font-size: 18px;
  }

  p {
    padding: 0 10px;
  }
  .carousel-indicators {
    display: none;
  }
}

.carousel-fade {
  overflow: hidden;
  .carousel-inner {
    .item {
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      position: absolute;
      z-index: 0;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }

    img {
      transform-origin: 50% 50%;
      transition: transform 7s linear;
      top: 0;
      left: 0;
      position: absolute;
      max-width: 1000%;
      width: 100%;
    }

    p {
      letter-spacing: 0;
      height: 60px;
    }

    .active {
      opacity: 1;
      z-index: 3;
    }

    .active.left,
    .active.right {
      z-index: 1;
    }

    .next.left,
    .prev.right {
      -webkit-transition: opacity 0.6s ease-in-out;
      -o-transition: opacity 0.6s ease-in-out;
      transition: opacity 0.6s ease-in-out;
      opacity: 1;
      left: 0;
      z-index: 2;
    }
  }

  .carousel-control {
    z-index: 4;
  }
}

hr {
  border-color: $brand-primary;
  width: 100px;

	.col-sm-6 & {
		width: 100%;
	}
}



.menu-page {
	text-align: left;

	h3 {
		text-align: center;
		border-top: 1px solid $brand-primary;
		border-bottom: 1px solid $brand-primary;
		padding: 16px 0;
		margin-bottom: 20px;

		.col-sm-6 & {
			margin-bottom: 10px;
		}
	}

	.book {
		background: white;
		font-size: 16px;
		padding: 20px 10px;
		border: none;
		margin-bottom: 50px;
		letter-spacing: 1px;
	}

	.price-list {
		font-size: 12px;
		letter-spacing: 4px;

		&,
		p {
			font-family: $font-family-sans-serif-med;
			margin-bottom: 4px;
		}
		hr {
			margin: 0 0 10px;
		}
	}

	 .table {
		 border-color: $brand-primary;
		 tr {
			 td,
			 th {
				 border-color: $brand-primary;
				 border-right: 1px solid $brand-primary;
				 border-bottom-width: 1px;
				 padding: 10px 12px;
				 font-size: 12px;
 				 letter-spacing: 2px;
				 font-family: $font-family-sans-serif-med;
			 }

			 td:first-child,
			 th:first-child {
				 padding-left: 0;
			 }

			 th {
				 padding-top: 2px;
			 	text-transform: uppercase;
				font-weight: 400;
				&.time {
					width: 14%
				}

				&.treatment {
					width: 29%
				}
			 }

			 td:last-of-type,
			 th:last-of-type {
				 border-right:none;
			 }
		 }
	 }
}

#sign-up {
  letter-spacing: 3px;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  background: white;
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 4px 30px;
}
.social-icons {
  margin-top: 20px;

  .social-icon {
    width: 20px;
    height: 20px;
    background: black;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    &.twitter {
      background: transparent url('/images/icons/twitter.png') left top no-repeat;
    }
    &.facebook {
      background: transparent url('/images/icons/facebook.png') left top no-repeat;
    }
    &.icon-3 {
      background: transparent url('/images/icons/icon-3.png') left top no-repeat;
    }
    &.bird {
      background: transparent url('/images/icons/icon-bird.png') left top no-repeat;
    }
  }
}

#carousel-example-generic {
  overflow: hidden;
  .item {
    width: 100%; /* Firefox needs this */
    height: 100%; /* Height can be anything */
    /* WebKit (Chrome & Safari) */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* IE */
    display: -ms-box;
    -ms-box-pack: center;
    -ms-box-align: center;
    /* Native CSS */
    display: box;
    box-pack: center;
    box-align: center;
  }

  .carousel-caption {
    position: absolute;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    padding: 0 40px;
    margin-top: 28px;
    width: 100%;
    color: $brand-primary;
		color: #333;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 20px;

    &.narrow {
      margin-top: 48px;
      text-shadow: none;
    }

    &.light {
      color: white;
    }
  }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@keyframes zoomIn {
  0% {
    left: 0;
    top: 0;
    width: 100%;
    transition: width 7s, left 7s, top 7s;
    transition-property: width, top, left;
  }

  100% {
    width: 110%;
    top: -5%;
    left: -5%;
  }
}

.zoomIn {
  /*-webkit-animation-name: zoomIn;
  animation-name: zoomIn;*/
  -webkit-transform: scale(1.05) rotate(0.1deg);
  -moz-transform: scale(1.05) rotate(0.1deg);
  -ms-transform: scale(1.05) rotate(0.1deg);
  transform: scale(1.05) rotate(0.1deg);
}

@keyframes slideDown {
  0% {
      bottom: 10%;
      transition: bottom 2s;
      transition-property: bottom;
  }

  100% {
      bottom: 20px;
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}

form {
  &.form-horizontal {
    .checkbox {
      +.checkbox {
        margin-top: 0px;
      }
    }
  }

  .form-group {
    padding: 0 20px;

		&.terms {
			margin: 0;
			margin-bottom: 20px;

			&:after {
				background: none;
			}
		}

    &.required {
      .control-label:after {
        color: #CB837B;
        content: "*";
        position: absolute;
        margin-left: 8px;
        top:7px;
      }
    }
  }

  #submit-form {
    border-radius: 0;
    width: 100%;
  }

  .form-control::-webkit-input-placeholder {
    color: #cccccc;
  }
  .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc;
  }
  .form-control:-ms-input-placeholder {
    color: #cccccc;
  }
  .form-control:-moz-placeholder { /* Firefox 18- */
    color: #cccccc;
  }
  margin-top: 20px;
  .dob {
    .col-xs-2 {
      width: 22.199999999999%;
    }
  }
  .separator:after {
    content: "/";
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 30px;
    color: #dddddd;
  }

  fieldset {
    padding-bottom: 20px;
    background: #F5F2F1;

    label {
      width: 100%;
      text-align: left;
			font-size: 12px;
      color: #666666;
			text-transform: uppercase;
    }

		.checkboxes {
			margin-bottom: 40px;
			&:after {
				content: '';
				position: relative;
				top: 20px;
				width: 570px;
				margin: 0 15px;
				height: 1px;
				background: #ccc;
				//border-bottom: 1px solid #444444;
			}
		}

		.block-caps {
			text-align: left !important;
			text-transform: none;
		}

    textarea.form-control {
      height: 150px;
    }

    legend {
      text-transform: uppercase;
      letter-spacing: 2.4px;
      font-size: 12px;
      padding: 4px 0;
      background: #82807F;
      color: #F5F2F1;
      width: 100%;
    }

    .form-control {
      border: none;
      border-radius: 0;
			&.other {
				position: relative;
				left: -20px;
				top: 4px;
				outline: none;
				width: 200px;
				height: 26px;
				padding: 2px 4px;
			}
    }

    .bs-select-hidden {
      display: none;
    }

    .bootstrap-select {
			padding: 0;
			outline: none;

			.btn {
				border-radius: 0px;
			}

			&.btn-group[class*="col-"] .dropdown-toggle,
			.dropdown-toggle,
			a,
			button,
			.btn-default {
				outline: 0 !important;
				background: $brand-primary;
				color: $site-bg;
				.filter-option {
					text-align: center;
				}
			}
      .dropdown-menu {
				padding: 0;
				margin: 0;
				& .open>.btn-default.dropdown-toggle {
					background: $brand-primary;
					color: $site-bg;
				}

        li {
          &:hover,
					&:focus
          {
            background: $site-bg;
             a {
              color: $brand-primary;
             }
          }
					&.selected {
						a {
						 color: $site-bg;
						}
					}

          > a {
            color: $site-bg;
            &:hover {
              color: $brand-primary;
            }
          }
        }
        background: $brand-primary;
        border-radius: 0;

      }
      button {
      }
    }
  }

  .checkbox {
    +.checkbox {
      margin-top: 10px;
    }

    label {
			text-transform: capitalize;
      text-align:     left;
      padding-left:   4px;
      font-size:      12px;
      width:          120%;
      max-width:      120%;

    }
  }

	.terms {
		label {
			text-transform: none;
		}
	}


  .checkbox-primary input[type="checkbox"]:checked+label::before,
  .checkbox label::before,
  .checkbox:focus {
    outline: none;
    border: none;
  }
}

#form-errors {
  width: 300px;
  height: auto;
  background: $site-bg;
  padding: 1px 10px 10px 10px;
  h3,
  h4 {
		letter-spacing: 2px;
		margin: 10px 0;
		font-weight: 800;
    text-transform: capitalize;
  }
  h4 {
    margin-bottom: 5px;
  }
  button {
    margin-top: 10px;
    left: 50%;
    position: relative;
    margin-left: -40px;
    border-radius: 0;
    width: 80px;
    padding: 2px;
    background: #444444;
    border-color: #444444;
  }
}

#success-message {
  text-align: center;
  width: 200px;
  height: auto;
  background: $site-bg;
  padding: 1px 10px 10px 10px;
  h2 {
    background: transparent url('/images/gazelli-house-logo-success.png') center center no-repeat;
    text-indent: -99999px;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 10px;
    width: 110px;
  }
  ul {
    margin-bottom: -5px;
  }
  em {
    font-style: normal;
    font-size: 10px;
    display: block;
    margin-bottom: 10px;
  }
  button {
    border-radius: 0;
    width: 80px;
    padding: 2px;
    background: #444444;
    border-color: #444444;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-phone) {
  .navbar-brand {
    background-size: auto;
    margin: auto;
  }

  form fieldset {
    padding-bottom: 1px;
  }

  #carousel-text {
    height: 125px;
    p {
      padding: 0 30px;
    }

    h2 {
      font-size: 30px;
    }
  }

  #sign-up {
    padding: 4px 50px;
    &:hover {
      text-decoration: none;
      background: $brand-primary;
      color: #F5F2F1;
    }
  }
  .navbar-collapse {

  }

  .navbar-nav {
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    width:              auto;
    display: table;
    margin: 0 auto;
    & > li~li:before {
      content: '|';
      color: #eee;
      position: absolute;
      left: -1px;
      top: 4px;
      z-index: 10;
    }
  }

  #carousel-example-generic {
    .carousel-caption {
      padding-top: 28px;
      font-size:  48px;
      letter-spacing: 35px;
    }
  }
}

.admin #calendar-container {
	width: 310px;
}
.calendar-nav {
	height: 25px;
	position: relative;
	button {
    &:focus,
    &:active,
    &:active:focus {
      outline: 0;
      outline: none;
    }
		background: none;
		border: none;
		padding: 0;
		height: 25px;
		width: 25px;
		position: absolute;
		top: 0px;
		left: 0px;
		& ~ button {
			left: auto;
			right: 0px;
		}
	}
}

.cal-day-today {
	background-color: transparent;
}

.cal-row-fluid{
	.cal-cell,
	.cal-day-weekend span[data-cal-date],
	.cal-day-holiday span[data-cal-date],
	&:hover {
		color: #444444;
		background-color: $brand-secondary;
	}
	.cal-cell:hover,
	.cal-day-weekend span[data-cal-date]:hover,
	.cal-day-holiday span[data-cal-date]:hover, {
		background-color: $brand-primary;
		color: #fff;
		.event-day {
      background: #372725;
		}
	}

	.cal-day-outmonth {
		&:hover {
			background: transparent;
		}
		span[data-cal-date] {
			opacity: 0.3;
		}
	}
	.cal-day-today {
		span[data-cal-date] {
			background-color: #946D46;
			background-color: #c4c4c4;
			color: #fff;
			opacity: 1;
		}
	}
}

.cal-month-box .cal-day-today span[data-cal-date] {
	font-size: 1em;
}

.cal-year-box [class*="span"],
.cal-month-box [class*="cal-cell"] {
	height: 25px;
	min-height: 25px;
	.cal-month-day {
		height: 25px;
	}
}

span[data-cal-date] {
	margin: auto;
	text-align: center;
	display: block;
	width: 100%;
	line-height: 25px;
  font-size: 1em;
	&.event-day {
		color: #fff;
    background: #9E8F8F;
	}
	&.active {
		color: #fff;
    background: #372725 !important;
	}
}

.cal-row-fluid .cal-day-weekend span.active[data-cal-date] {
  color: white;
}


.month-title {
	text-transform: uppercase;
	line-height: 25px;
	font-size: 14px;
	display: inline-block;
	color: white;
	font-weight: 800;
	width: 100%;
	margin: auto;
	text-align: center;
}
.cal-row-head {
	display: none;
}

.calendar-nav {
	width:	100%;
	background: $brand-primary;
}

.admin {
	form {
		label {
			min-width: 250px;
		}

		input[type=file] {
			display: inline-block;
		}
	}
}

#events {
  &.loading {
    width: 0px;
    position: absolute;
    left: 50%;
    top: 50%;

    &:after {
      opacity: 0.4;
      content: '\f021';
      font-size: 64px;
      font-family: 'FontAwesome';
      margin-left: -27px;
    }
  }

	h3 {
		background: #999999;
		text-align: center;
		text-transform: uppercase;
		color: white;
		padding: 5px;
	}
	.panel-default {
		position: relative;

		&.panel {
			position: relative;
			border: none;
			margin-bottom: 5px;
			font-size: 12px;

			.panel-body {
				margin-left: -5px;
				margin-right: -5px;
				padding-bottom: 10px;
				> p {
					margin-left: -15px;
				}
			}
		}


		> .panel-heading {
			padding: 0;

			background: #9E8F8F;

			.event-title {
				text-transform: uppercase;
				> span {
					text-transform: none;
				}
			}

			&:after {
				content: '\f0dd';
				font-family: 'FontAwesome';
				position: absolute;
				right: 10px;
				top: 3px;
				font-size: 20px;
				color: white;
			}

			&.open:after {
				content: '\f0de';
				top: 10px;
			}

			.panel-title {
				a {
					width: 100%;
					display: block;
					padding: 10px 10px;
					text-decoration: none;
					&:hover,
					&:active,
					&:link,
					&:visited {
						text-decoration: none;
					}

					.event-date {
						font-family: $font-family-serif;
						font-weight: 100;
						font-size: 16px;
						width: 90px;
						display: inline-block;
					}

					> span {
						color: white;
						font-size: 14px;
						letter-spacing: 1px;
						padding-right: 15px;
						border-right: 1px solid white;
						& ~ span {
							border: none;
							padding: 0;
							padding-left: 15px;
						}
					}
				}
			}

			.active {
				background: #372725;
			}
		}

		.event-image {
			width: 150px;
			float: right;
			padding-right: 0px;
		}
		.event-footer {
			margin-left: -15px;
			text-transform: uppercase;
			strong {
				& ~ strong {
					padding-left: 10px;
					border-left: 1px solid #333;
				}

        &.location {
          clear: both;
          padding-left: 0;
          border-left: 0;
        }
			}


			span {

				padding: 0 10px;
				& ~ span {
					border: none;
				}
			}
		}

		.event-brite {
			background: #999;
			padding: 5px 10px;
			margin-top: 10px;
			button {

			}

			div.btn {
				float: left;
				background: url('/images/eventbrite_button.png') top left;
				background-size: 100% 100%;
				border: none;
				width: 79px;
				height: 30px;
			}

			a.btn {
				float: right;
				border: 1px solid white;
				border-radius: 0;
				padding: 3px 8px;
				font-size: 11px;
				color: white;
				background: transparent;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-top: 3px;
			}
		}
	}
}
.tab {
	display: none;
	padding-top: 20px;
}
.nav-tabs {
	margin-top: 20px;
}


.cal-row-fluid .cal-day-today span[data-cal-date]:hover {

	//background: #946D46;
	background: #82807F;
}

span[data-cal-date] {
	opacity: 1;
}

#delete {
	display: none;
}

.events-page {
  background: url('/images/headers/carousel/sky-parlour.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-page {
	.container {
		padding-top: 642px;
	  margin-top: -641px;
	}
}

.home-page {
	.container {
		padding-top: 554px;
	  margin-top: -553px;
	}
}
